body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  margin-top: 5vmin;
  height: 30vmin;
  pointer-events: none;
  background: transparent;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sneaker-row ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  /* margin: 10px 0; */
  margin: 0;
  padding: 0;
}

.sneaker-row ul li {
  display: inline-block;
  flex: 10;
  border-bottom: solid 1px #282c34;
  padding: 10px;
}

.sneaker-row ul li button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background-color: cadetblue;
  color: #fff;
  font-weight: 900;
  vertical-align: top;
  /*margin-bottom: 10px;*/
  width: 70px;
}

.sneaker-row ul li button:hover {
  background-color: #282c34;
}

.sneaker-row ul li button:active {
  background-color: cadetblue;
}

.buy {
  background-color: darkgoldenrod;
}
